extends ../layout/common
block title
	title Contact
block head
	link(rel='stylesheet', type='text/css', href='vendor/select2/select2.min.css')
	// ===============================================================================================
	link(rel='stylesheet', type='text/css', href='vendor/slick/slick.css')
block content
	// Title Page
	section.bg-title-page.p-t-40.p-b-50.flex-col-c-m(style='background-image: url(images/heading-pages-06.jpg);')
		h2.l-text2.t-center
			| Contact
	// content page
	section.bgwhite.p-t-66.p-b-60
		.container
			.row
				.col-md-6.p-b-30
					.p-r-20.p-r-0-lg
						#google_map.contact-map.size21(data-map-x='40.614439', data-map-y='-73.926781', data-pin='images/icons/icon-position-map.png', data-scrollwhell='0', data-draggable='1')
				.col-md-6.p-b-30
					form.leave-comment
						h4.m-text26.p-b-36.p-t-15
							| Send us your message
						.bo4.of-hidden.size15.m-b-20
							input.sizefull.s-text7.p-l-22.p-r-22(type='text', name='name', placeholder='Full Name')
						.bo4.of-hidden.size15.m-b-20
							input.sizefull.s-text7.p-l-22.p-r-22(type='text', name='phone-number', placeholder='Phone Number')
						.bo4.of-hidden.size15.m-b-20
							input.sizefull.s-text7.p-l-22.p-r-22(type='text', name='email', placeholder='Email Address')
						textarea.dis-block.s-text7.size20.bo4.p-l-22.p-r-22.p-t-13.m-b-20(name='message', placeholder='Message')
						.w-size25
							// Button
							button.flex-c-m.size2.bg1.bo-rad-23.hov1.m-text3.trans-0-4
								| Send

block script
	script(type='text/javascript', src='vendor/jquery/jquery-3.2.1.min.js')
	// ===============================================================================================
	script(type='text/javascript', src='vendor/animsition/js/animsition.min.js')
	// ===============================================================================================
	script(type='text/javascript', src='vendor/bootstrap/js/popper.js')
	script(type='text/javascript', src='vendor/bootstrap/js/bootstrap.min.js')
	// ===============================================================================================
	script(type='text/javascript', src='vendor/select2/select2.min.js')
	script(type='text/javascript').
		$(".selection-1").select2({
		minimumResultsForSearch: 20,
		dropdownParent: $('#dropDownSelect1')
		});
		$(".selection-2").select2({
		minimumResultsForSearch: 20,
		dropdownParent: $('#dropDownSelect2')
		});
	// ===============================================================================================
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes')
	script(src='js/map-custom.js')
	// ===============================================================================================
	script(type='text/javascript', src='https://unpkg.com/axios/dist/axios.min.js')
	script(type='text/javascript').
		// Get quantity products
		const getQuantity = async () => {
			const res = await axios.get('/cart/quantity')
			const quantityElement = document.getElementById('quantity')
			quantityElement.innerHTML = res.data.quantity
		}

		window.onload = getQuantity
	// ===============================================================================================
	script(src='js/main.js')